* {
  margin: 0;
  padding: 0;
}
body{
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 18%,
    rgba(255, 255, 255, 1) 100%
  );
}

input[type="text"]{
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="textarea"]{
  border-radius: 5px;
  width: 40%;
  height: 200px;
}
.Formulario {
  text-align: left;
  width: 100%;
  height: 100%;

  
}
